
<%= link_to bet_path(bet) do %>
<div class="container mt-5">
  <div class="card border-0 position-relative">
    <div class="card-body">
      <div class="row">
        <div class="col-5 d-flex align-items-center gap-2">
        <%= cl_image_tag(bet.user.photo.key, class: "avatar") if bet.user.photo.key.present? %>
          <p class="m-0"><strong><%= bet.user.name %></strong></p>
        </div>
        <div class="col-2 text-center align-self-center position-relative">
          <i class="fa-solid fa-bolt" style="color: #FFDE59;font-size: 25px"></i>
          <p class="m-0 position-absolute bet-date"><%= bet.stake %></p>
        </div>
        <div class="col-5 d-flex justify-content-end align-items-center gap-2">
          <p class="m-0"><strong><%= bet.opponent.name %></strong></p>
          <%= cl_image_tag(bet.opponent.photo.key, class: "avatar") if bet.opponent.photo.key.present? %>
        </div>
        <div class="bet-title">
          <h4 class="m-0"><strong><%= bet.name %></strong></h4>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
