<h1><%= @bet.name %></h1>

<p>Bet stake : <%= @bet.stake %></p>
<p>Bet's privacy : <%= @bet.privacy %></p>
<p>Bet's status : <%= @bet.status %></p>
<p>Created at : <%= @bet.created_at %></p>
<p>Ends at :<%= @bet.end_time %></p>
