<h2><%= bet.name %></h2>

<p>Bet stake : <%= bet.stake %></p>
<p>Bet privacy : <%= bet.privacy %></p>
<p>Bet status : <%= bet.status %></p>
<p>Created at : <%= bet.created_at %></p>
<p>Ends at :<%= bet.end_time %></p>
