
 <%= render "shared/navbar" %>
 <%= render "shared/footer" %>

<h1>Top Bets</h1>

<div class="bets-container">
  <% @bets.each do |bet| %>
    <div class="bet-card">
      <%= render "bet_card", bet: bet %>
    </div>
    <div class="card-space"></div>
  <% end %>
</div>



<%= link_to "Create new bet", new_bet_path, class: "btn btn-gradient" %>


<%= link_to "My bets", my_bets_path, class: "btn btn-outline-dark m-2 btn-rounded ms-4" %>
