<div class=" container d-flex justify-content-center vh-50 mt-1 footer-bottom-margin">
  <%= simple_form_for(@bet, step_2: true) do |f| %>
    <h2> Add some more bet details </h2>
    <%= f.input :stake %>
    <%= f.input :location %>
    <%= f.input :end_time, html5: true %>
    <input  type="hidden" name="step_2" value="true" >
    <%= f.submit  class: "btn btn-dark btn-block" %>
  <% end %>
</div>
