
 <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static.vecteezy.com/system/resources/previews/002/422/814/large_2x/spacious-kitchen-and-dining-room-interior-design-flat-free-vector.jpg);">
  <div class="container"style="margin-top: -20px;">
  
  </div>
</div>

 <%= render "shared/footer" %>

<h1>My Bets</h1>

<h2>Active Bets</h2>

<div class="container text-center">
  <% @bets.each do |bet| %>
    <div class="border my_bets">
      <h2><%= bet.name %></h2>
      <p>Stake: <%= bet.stake %></p>
      <p>Location: <%= bet.location %></p>
    </div>
  <% end %>
</div>

<h3>Past Bets</h3>

<div class="bets-container">
  <% @bets.each do |bet| %>
    <div class="bet-card">
      <%= render "bet_card", bet: bet %>
    </div>
    <div class="card-space"></div>
  <% end %>
</div>
