 <%= render "shared/footer" %>
 <%= render "shared/navbar" %>

<div class="container d-flex justify-content-center vh-50 mt-5 ">
  <%= simple_form_for(@bet) do |f| %>
    <%= f.input :name %>
    <%= f.association :users, include_blank: false, include_hidden: false %>
    <%= f.input :stake %>
    <%= f.input :location %>
    <%= f.input :end_time, html5: true %>
    <%= f.input :privacy, collection: ["public", "private"], selected: "private" %>
    <%= f.association :tag %>
    <%= f.submit  class: "btn btn-dark btn-block" %>
  <% end %>
</div>
