<div class="align-items-center justify-content-center text-center mt-3 footer-bottom-margin">
  <div class="col bet-card text-start">
    <%= render "bet_card", bet: @bet %>
    <p > <strong>Bet's name : </strong><%= @bet.name.capitalize %></p>

    <p><strong>Bet's stake:</strong><%= @bet.stake %></p>
    <p><strong>Bet's privacy:</strong><%= @bet.privacy.capitalize %></p>
    <p><strong>Bet's status:</strong><%= @bet.status.capitalize %></p>
    <p><strong>Created at:</strong> <%= @bet.created_at %></p>
    <p><strong>End at :</strong> <%= @bet.end_time %></p>
    <% if @bet.winner %>
      <p><strong>Winner: </strong><%= @bet.winner.name.capitalize %></p>
    <% end %>


  </div>
  <div class="d-flex justify-content-center" >
   <%= link_to "Resolve", bet_resolve_path(@bet), class: "mt-2 me-2 btn btn-outline-success btn-equal-width" %>
   <%= link_to "Delete Bet", bet_path(@bet), class: "mt-2 ms-2 btn btn-outline-danger btn-equal-width", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </div>
</div>
