<div class="container">
  <div class="bet-card-shadow rounded-4 position-relative align-items-center justify-content-center text-center mt-3 footer-bottom-margin">
    <div class="col bet-card text-start  ">
      <%= render "bet_card", bet: @bet %>

      <div class="border-top-0 inner-border rounded-bottom-4 position-relative">
        <div class="d-flex justify-content-between mb-2">
          <div class="d-flex gap-1 align-items-center">
            <div style="background: <%= @bet.active? ? "green" : "#d10101" %>; width: 10px; height: 10px; border-radius: 50%"></div>
            <p class="mb-0" style="color: <%= @bet.active? ? "green" : "#d10101" %>; font-size: 16px"><%= @bet.status %></p>
          </div>
          <p class="bet-privacy mb-0"><strong>
            <% if  @bet.privacy == "public" %>
              <i class="fa-solid fa-unlock"></i></strong>
            <% else %>
              <i class="fa-solid fa-lock"></i></strong>
            <% end %>
            <%= @bet.privacy %>
          </p>

        </div>
        <p class="d-flex gap-2">
          <strong><i class="fa-solid fa-location-dot text-center" style="color: #8c50f7; width: 20px"></i></strong>
          <%= @bet.location %>
        </p>
        <hr>
        <p class="text-center mb-1" style="color: #8c50f7">
          <i class="fa-solid fa-cake-candles"></i> <strong>Created on</strong>
        </p>
        <p class="text-center">
          <%= @bet.created_at.strftime("%d %b %Y") %>
        </p>
        <p class="text-center mb-1" style="color: #8c50f7">
          <i class="fa-regular fa-calendar-plus text-center"></i> <strong>Expires on</strong>
        </p>
        <p class="text-center">
          <%= @bet.end_time.strftime("%d %b %Y") %>
        </p>
      </div>
    </div>

    <% if (current_user == @bet.user || current_user == @bet.opponent) && @bet.active? %>
      <div class="d-flex gap-4 justify-content-center gap-4 position-absolute bet-resolve-btns-container" >
        <%= link_to bet_resolve_path(@bet), class: "bet-card-shadow bet-resolve-btn gap-2"  do %>
          <i class="fa-solid fa-trophy"></i> Resolve
        <% end %>

        <%= link_to bet_path(@bet), class: "bet-card-shadow bet-delete-btn gap-2", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i class="fa-regular fa-trash-can"></i> Delete
        <% end %>
      </div>
    <% end %>
  </div>
</div>
