<h1 class="custom-bg-primary text-white p-1 m-2 mx-auto text-center">My Profile</h1>
<div class="container ">
  <div class="user-profile-details-box mx-auto" style="width: 90%;">

    <%= cl_image_tag(current_user.photo.key, class: "avatar-large") if current_user.photo.present? %>

    <h3><%= current_user.name %></h3>

    <p>Location: <%= current_user.location %></p>

    <p>Daring to Bet since: <%= current_user.created_at %></p>
    <%= link_to "Edit details", edit_user_registration_path, class: "btn btn-info w-100 py-2 "%>
    <%= link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete}, class: "btn btn-danger w-100 py-2 "%>
  </div>
</div>

<%# <div class="user-profile-details-box"> %>

<div class="footer-bottom-margin">
  <div class="mt-3 mb-2">
    <h3 class="custom-bg-info mb-2 mt-5 mx-auto text-center"><strong>Received Pending Bets</strong></h3>
  </div>
  <div>
    <% if @received_pending_bets.present? %>
      <% @received_pending_bets.each do |bet| %>
        <div class="mt-4 pb-4">
          <%= render "bets/bet_card", bet: bet %>
        </div>
      <% end %>
    <% else %>
      <p class="text-center">You haven't received any new bets.</p>
    <% end %>
  </div>
  <div class="mt-3 mb-2">
    <h3 class="custom-bg-info mb-2 mt-5 mx-auto text-center"><strong>Sent Bets</strong></h3>
  </div>
  <div class="footer-bottom-margin">
    <% if @sent_pending_bets.present? %>
      <% @sent_pending_bets.each do |bet| %>
        <div class="mt-4">
          <%= render "bets/bet_card", bet: bet %>
        </div>
      <% end %>
    <% else %>
      <p class="text-center">No sent bets.</p>
    <% end %>
  </div>
</div>
