<h1 class="custom-bg-primary pb-5 mt-3 mx-auto text-center"><strong>My Profile</strong></h1>
<div class="container position-relative mt-5">
  <div class="user-profile-details-box mx-auto position-relative" style="width: 90%;">
    <div class="profile-purple">
      <%= link_to edit_user_registration_path, class: "position-absolute", style: "right: 16px; top: 12px; font-size: 24px;" do %>
      <i class="fa-solid fa-pen-to-square text-white"></i>
      <% end %>
      <h3 class="text-center mt-5 mb-1 fw-bold" style="color: white; padding-top: 34px;"><%= current_user.name %></h3>
      <p class="text-white text-center" style="font-size: 16px"><%= current_user.email %></p>
    </div>

    <%= cl_image_tag(current_user.photo.key, class: "avatar-large position-absolute avatar-profile") if current_user.photo.present? %>

    <div class="mt-5" style="padding-top: 100px">
      <p><i class="fa-solid fa-location-dot" style="color: #8c50f7;"></i> <%= current_user.location %></p>
      <p><strong>Daring to Bet since:</strong> <%= current_user.created_at %></p>
    </div>
    <div class="text-center">
      <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-violet-border text-decoration-none d-block" do %>
        <i class="fa-solid fa-right-to-bracket"></i>
        Log Out
      <% end %>
    </div>
  </div>
</div>

<%# <div class="user-profile-details-box"> %>

<div class="footer-bottom-margin">
  <div class="mt-3 mb-2">
    <h3 class="custom-bg-info mb-2 mt-5 mx-auto text-center"><strong>Received Pending Bets</strong></h3>
  </div>
  <div>
    <% if @received_pending_bets.present? %>
      <% @received_pending_bets.each do |bet| %>
        <div class="mt-4 pb-4">
          <%= render "bets/bet_card", bet: bet %>
        </div>
      <% end %>
    <% else %>
      <p class="text-center">You haven't received any new bets.</p>
    <% end %>
  </div>
  <div class="mt-3 mb-2">
    <h3 class="custom-bg-info mb-2 mt-5 mx-auto text-center"><strong>Sent Bets</strong></h3>
  </div>
  <div class="footer-bottom-margin">
    <% if @sent_pending_bets.present? %>
      <% @sent_pending_bets.each do |bet| %>
        <div class="mt-4">
          <%= render "bets/bet_card", bet: bet %>
        </div>
      <% end %>
    <% else %>
      <p class="text-center">No sent bets.</p>
    <% end %>
  </div>
</div>
