
<div class="footer footer--icons text-center p-3">
        <%= link_to bets_path, class: "text-decoration-none color-item" do %>
        <i class="fa-solid fa-medal"></i>
        <% end %>
        <%= link_to around_me_path, class: "text-decoration-none color-item" do %>
        <i class="fa-solid fa-location-dot "></i>
        <% end %>
        <%= link_to new_bet_path, class: "text-decoration-none text-white" do %>
        <i class="fa-solid fa-circle-plus" id="circle"></i>
        <% end %>
        <%= link_to my_bets_path, class: "text-decoration-none color-item" do %>
        <i class="fa-solid fa-list"></i>
        <% end %>
        <%= link_to profile_path, class: "text-decoration-none color-item" do %>
          <i class="fa-solid fa-gear"></i>
        <% end %>
</div>
